# JerryScript Repository
jerryscript/

# A custom directory where the experiments can be copyied
experiments/

# Pre-built JerryScript binaries
tests/*/*-jerry

# Generated oracle scripts
tests/*/test.sh

*.log
*.json
*.yaml

cov.info
__pycache__
.DS_Store
